<h1><%= @list.name %></h1>

<ul>
  <% @movies.each do |movie| %>
  <li><%= movie.title %></li>
  <li><%= movie.overview %></li>
  <li><%= movie.rating %></li>
  <% end %>
</ul>


<%= link_to "back to all the lists", lists_path %>
